 body, .card-header{
    background-color: rgb(1, 1, 15) !important;
    background-image: url("https://img.freepik.com/foto-gratis/fondo-azul-degradado-lujo-abstracto-azul-oscuro-liso-banner-estudio-vineta-negra_1258-52379.jpg?w=900&t=st=1684394291~exp=1684394891~hmac=c262d9e4688e3f7984de8ff95f8509697296cd4f8bdd15f78b0e3faa29373fce");
    background-repeat: repeat;
    background-size: cover;
}

.section-login,.section-register {
    border: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background-image: url("https://img.freepik.com/foto-gratis/fondo-negro-elegante-espacio-copia_24972-1836.jpg?w=740&t=st=1684394457~exp=1684395057~hmac=dc00f51543b132dc4bee5678f28126d393d8c47e15efe3611f2ba3125944e0eb");
    background-size: cover;
    border-radius: 20px;
  }
  

.btn-primary{
    margin: 0 auto;
    display: block !important;
  } 

 footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
  .volver {
    color: #f0f0f0;
    text-decoration: none !important;
    display: flex;
    align-items: baseline;
    font-size: 20px;
    font-weight: bold;
  }

  .volver:hover {
    color: #007bff;
  } 